<app-header-two></app-header-two>
<!--breadcrumbs-->

<div class="sigma_subheader style-5 bg-gray">
    <div class="container">

        <div class="sigma_subheader-inner">
            <h1>PharmaLIFE Donations</h1>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/association" class="btn-link">All</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/myDonations" class="btn-link">MyDonations</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/addDonation" class="btn-link">New Donation</a>
            </li>

        </ol>


    </div>
    <img src="assets/img/subheader-br.png" class="br" alt="subheader">
    <img src="assets/img/subheader-bl.png" class="bl" alt="subheader">
    <img src="assets/img/subheader-tr.png" class="tr" alt="subheader">
</div>

<!--data-->

<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <div class="sigma_accordion style-13">
                    <div class="sigma_tab-item style-4">

                        <ul class="nav nav-tabs" id="myTab" ngbnav="" role="tablist">
                            <li ng-reflect-_id="1" class="nav-item">
                                <a href="" ngbnavlink="" id="ngb-nav-0" class="nav-link active" role="tab"
                                    aria-selected="true" aria-disabled="false" aria-controls="ngb-nav-0-panel"
                                    routerLink="/myDonations"> My
                                    Donations
                                    <i _ngcontent-sdw-c4="" class="fal fa-chevron-right"></i></a>
                                <!---->
                            </li>
                            <li _ngcontent-sdw-c4="" ng-reflect-_id="2" class="nav-item">
                                <a _ngcontent-sdw-c4="" href="" ngbnavlink="" id="ngb-nav-1" class="nav-link" role="tab"
                                    aria-selected="false" aria-disabled="false" routerLink="/addDonation">New Donation
                                    <i _ngcontent-sdw-c4="" class="fal fa-chevron-right"></i></a><!---->
                            </li>
                            <li _ngcontent-sdw-c4="" ng-reflect-_id="3" class="nav-item"><a _ngcontent-sdw-c4="" href=""
                                    ngbnavlink="" id="ngb-nav-2" class="nav-link" role="tab" aria-selected="false"
                                    aria-disabled="false" routerLink="/collectDonations"> Collect <i
                                        _ngcontent-sdw-c4="" class="fal fa-chevron-right"></i>
                                </a><!----></li>
                            <li _ngcontent-sdw-c4="" ng-reflect-_id="4" class="nav-item"><a _ngcontent-sdw-c4="" href=""
                                    ngbnavlink="" id="ngb-nav-3" class="nav-link" role="tab" aria-selected="false"
                                    aria-disabled="false" routerLink="/donationGifts"> MyGifts <i _ngcontent-sdw-c4=""
                                        class="fal fa-chevron-right"></i>
                                </a><!----></li>
                            <li _ngcontent-sdw-c4="" ng-reflect-_id="5" class="nav-item"><a _ngcontent-sdw-c4="" href=""
                                    ngbnavlink="" id="ngb-nav-4" class="nav-link" role="tab" aria-selected="false"
                                    aria-disabled="false" routerLink="/contactDonations"> Contact <i
                                        _ngcontent-sdw-c4="" class="fal fa-chevron-right">

                                    </i></a><!----></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <!--My Donations List By Id-->


                <div class="row mt-5 mt-lg-0">
                    <!-- Data -->
                    <div class="col-lg-6 col-md-6" *ngFor="let donation of donations">
                        <div class="sigma_product style-8">
                            <div class="sigma_product-thumb">
                                <a> <img src="../../../assets/img/donationAssociation/{{donation.imageDonation}}"
                                        [alt]="donation.imageDonation" height="140" width="400"></a>

                            </div>
                            <div class="sigma_product-body">

                                <h5 class="sigma_product-title"> <a>{{donation.nameDonation}} |
                                        {{donation.donationType}}</a> </h5>
                                <div class="sigma_rating">
                                    <i>Create At: {{donation.dateDonation}} </i>
                                </div>
                                <div class="sigma_product-price">
                                    <span>By: {{donation.userDonation.firstName}}</span>
                                    <!--<span *ngIf="item.discount">{{item.price | number:'1.2-2'}}$</span>-->
                                </div>
                                <div class="sigma_rating">
                                    <i>{{donation.statusDonation}} </i>
                                </div><br>

                                <!-- Cart 
                            <button 
                                class="sigma_btn btn-sm" (click)="onOpenModal(association, 'details')">View More
                            </button> -->
                           
                                <!--<button type="button" class="btn btn-success btn-link btn-sm btn-just-icon"
                                    (click)="deleteDonation(donation.idDonation)"style="margin-bottom: 1px;
                                    margin-right: 11px;">
                                    <i class="material-icons" >Edit</i>
                                </button>-->   
                                
                                <button type="button" class="btn btn-success btn-link btn-sm btn-just-icon"
                                    (click)="deleteDonation(donation.idDonation)">
                                    <i class="material-icons">Delete</i>
                                </button>
                         

                            </div>
                        </div>
                    </div>
                    <!-- Data -->
                </div>










            </div>
        </div>
    </div>
</div>








<!--footer-->
<app-footer></app-footer>