
<app-header-two></app-header-two>
<!--breadcrumbs-->

<div class="sigma_subheader style-5 bg-gray">
    <div class="container">

        <div class="sigma_subheader-inner">
            <h1>PharmaLIFE MyCommands</h1>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/" class="btn-link">All</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/myCommands" class="btn-link">MyCommands</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/product-management" class="btn-link">Product</a>
            </li>

        </ol>


    </div>
    <img src="assets/img/subheader-br.png" class="br" alt="subheader">
    <img src="assets/img/subheader-bl.png" class="bl" alt="subheader">
    <img src="assets/img/subheader-tr.png" class="tr" alt="subheader">
</div>

<!--data-->
<div class="sidebar-style-9">
    <div class="section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">


                    <div class="sidebar mb-5">
                        <!-- Category Widget -->
                        <div class="widget widget-categories">
                            <h5 class="widget-title">My Commands</h5>
                            <ul>
                                <!-- Data -->
                                <li>
                                    <a routerLink="/">All</a>
                                    <a routerLink="/myCommands">MyCommands</a>
                                    <a routerLink="/product-management">Product</a>
                                </li>
                                <!-- Data -->
                            </ul>
                        </div>
                        <div class="widget p-0 border-0">
                            <div class="sigma_contact-map">
                                <iframe title="map"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.9914406081493!2d2.292292615201654!3d48.85837360866272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2964e34e2d%3A0x8ddca9ee380ef7e0!2sEiffel%20Tower!5e0!3m2!1sen!2sin!4v1571115084828!5m2!1sen!2sin"
                                    height="300" allowfullscreen="">
                                </iframe>
                            </div>
                        </div>
                    </div>






 
                </div>
                <div class="col-lg-8">
                    <!-- Data -->
                    <div class="sigma_team style-17" *ngFor="let command of commands">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <div class="sigma_team-thumb">
                                    <img src="../../../assets/img/home-1/150x100.png"
                                   >
                                </div>
                            </div>


                            


                            <div class="col-md-5 col-sm-6">
                                <div class="sigma_team-body">
                                    <h5>
                                        <b>{{command.notes}} |  <span class="ml-3" style="color: orangered;">{{command.statusCommand}}</span> </b>
                                    </h5>
                                    <div class="sigma_team-categories">
                                        <a
                                            class="sigma_team-category" style="color: goldenrod;">{{command.statusCommand}}</a>
                                    </div>
                                    <p>{{command.shippingAddressCommand}}</p>
                                    <div class="d-flex align-items-center mt-4">
                                        <a class="sigma_btn">Delete</a>
                                        <!--<div class="sigma_team-controls ml-3">
                                        <a></a>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="sigma_team-footer">
                                    <div class="sigma_team-info">
                                        <span> 
                                            <i class="fal fa-map-marker-alt"></i>
                                           
                                        </span>
                                        <span>
                                            <i class="fal fa-calendar"></i>
                                             {{command.dateCommand}} 
                                        </span>
                                        <span>
                                            <i class="fal fa-calendar"></i>
                                            <b>{{command.dateLivraison}}, </b>
                                        </span>
                                    </div>
                                    <div class="sigma_rating">
                                        <!--<ngb-rating [max]="5" [readonly]="true">
                                            <ng-template let-fill="fill" let-index="index">
                                                <i class="far fa-star" [class.fas]="fill === 100"></i>
                                            </ng-template>
                                        </ngb-rating>-->
                                        <span class="ml-3">Added to product: </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Data -->
            
                   
                </div>
            </div>
        </div>
    </div>
</div> 
<!--data-->

<!--footer-->
<app-footer></app-footer>