<app-header-two></app-header-two>



<div class="sigma_subheader style-5 bg-gray">
    <div class="container">

        <div class="sigma_subheader-inner">
            <h1>Our products</h1>
        </div>



    </div>
    <img src="assets/img/subheader-br.png" class="br" alt="subheader">
    <img src="assets/img/subheader-bl.png" class="bl" alt="subheader">
    <img src="assets/img/subheader-tr.png" class="tr" alt="subheader">
</div>

<!--data-->

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="sidebar">
                    <div style="width: 50%;"> <input class="form-control" style="margin-left: 44px;width: 234px;"
                            type="text" placeholder="Search for product" [(ngModel)]="searchText"></div>
                    <div style="width: 50%;"> <a class="btn button4" style="margin-top: -89px;"
                            routerLink="/add-product" role="button" aria-pressed="true"><i
                                class="fa fa-plus-circle"></i>
                        </a></div>
                    <!-- Sidebar content goes here -->
                    <!-- Category Widget -->
                    <div class="widget widget-categories">
                        <h5 class="widget-title">Categories</h5>

                        <ul>
                            <!-- Data -->
                            <li *ngFor="let c of allCategories">
                                <a>
                                    <div>
                                        {{c.nameCategory}}
                                        {{c.descriptionCategory}}
                                    </div>
                                </a>
                            </li>
                            <!-- Data -->
                        </ul>
                    </div>
                    <!-- Recent Products Widget -->
                    <div class="widget widget-sigma-recent-posts">

                        <h5 class="widget-title">Recent Products</h5>
                        <!-- Data -->
                        <div class="sigma_recent-post" *ngFor="let item of top3Products">
                            <a routerLink="" class="recent-post-image">
                                <img src="../../../../assets/img/ProductsAndGiftManagement/{{item.imageProduct}}"
                                    alt="{{item.nameProduct}}">
                                <span>{{item.quantityProduct}}</span>
                            </a>
                            <div class="recent-post-descr">
                                <!-- <h6>
                                    <a routerLink="">{{item.title}}</a>
                                </h6>-->
                                <a routerLink="" class="date">
                                    <i class="far fa-clock mr-2"></i>
                                    {{item.creationDate}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="tab-content " id="myTabContent">
                    <div class="row">
                        <!-- Data -->
                        <div class="col-lg-3 col-md-6" *ngFor="let item of allProducts | search:searchText">
                            <div class="sigma_product style-8">
                                <div class="sigma_product-thumb">
                                    <a> <img src="../../../../assets/img/ProductsAndGiftManagement/{{item.imageProduct}}"
                                            height="140" width="400"></a>

                                </div>
                                <div class="sigma_product-controls">

                                    <!-- Quick view
                                    <a matTooltip="Detail product" placement="top"
                                        (click)="onOpenModal(item, 'details')">
                                        <i class="far fa-eye"></i> </a> -->
                                    <!--DELETE-->
                                    <a placement="top" ngbTooltip="Delete" (click)="deleteProduct(item.idProduct)">
                                        <i class="far fa-trash"></i> </a>
                                    <!--Add reclamation-->
                                    <a placement="top" ngbTooltip="Send Reclamation"
                                        [routerLink]="['/add-reclamation/',item.idProduct ]">
                                        <i class="fa fa-envelope"></i> </a>



                                </div>
                                <div class="sigma_product-body">

                                    <h5 class="sigma_product-title"> <a>{{item.nameProduct}}</a> </h5>
                                    <div class="sigma_product-title"><a>Quantity: {{item.quantityProduct}}</a></div>
                                    <div class="sigma_rating">
                                        <i>{{item.descriptionProduct}}</i>
                                    </div>

                                    <div class="sigma_product-price">
                                        <span>{{item.priceProduct}} DT</span>

                                    </div>

                                    <div class="">
                                        <span>{{getDateDiffInDays(item.expirationDateProduct)}} days are left</span>
                                    </div>
                                    <br>

                                    <button style="margin-left: -23px;" type="button"
                                        class="btn btn-success btn-link btn-sm btn-just-icon">
                                        <i class="fa fa-gift" (click)="addGift(item)">Add to gift</i>
                                    </button>
                                    <!--Add to cart-->
                                    <button style="margin-left: -23px; margin-top:14px;" type="button"
                                        class="btn btn-success btn-link btn-sm btn-just-icon">


                                        <i class="fa fa-shopping-cart" (click)="AddCommand(item.idProduct)">Add to cart</i>
                                    </button>
                                </div>

                            </div>
                        </div>
                        <!-- Data -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<!-- Details Product Modal -->
<div class="modal fade" id="productDetailsModal" tabindex="-1" role="dialog" aria-labelledby="productDetailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <b>
                </b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <input type="hidden" ngModel="{{detailsProduct?.idProduct}}" name="idProduct" class="form-control"
                        id="idProduct" placeholder="idProduct">

                    <div class="input_box" style="float:left;padding-right: 10px;">
                        <input type="text" ngModel="{{detailsProduct?.referenceProduct}}" name="referenceProduct"
                            class="form-control" id="referenceProduct" aria-describedby="referenceProduct" readonly>
                        <div class="icon"><i class="fa fa-info-circle" aria-hidden="true" style="color: #4d82a3;"></i>
                        </div>
                    </div>
                    <div class="input_box" style="float:left; padding-right: 10px;">
                        <input type="text" ngModel="{{detailsProduct?.nameProduct}}" name="nameProduct"
                            class="form-control" id="nameProduct" aria-describedby="nameProduct" readonly>
                        <div class="icon"><i class="fa fa-arrow-right" aria-hidden="true" style="color: #4d82a3;"></i>
                        </div>
                    </div>
                    <div class="input_box" style="float:left; padding-right: 10px;">
                        <input type="text" ngModel="{{detailsProduct?.categoryProduct}}" name="nameCategory"
                            class="form-control" id="nameCategory" aria-describedby="nameCategory" readonly>


                        <div class="icon"><i class="fa fa-arrow-right" aria-hidden="true" style="color: #4d82a3;"></i>
                        </div>
                    </div>
                    <div class="input_box" style="float:left;padding-right: 10px;">
                        <input type="text" ngModel="{{detailsProduct?.priceProduct}}" name="priceProduct"
                            class="form-control" id="priceProduct" aria-describedby="priceProduct" readonly>
                        <div class="icon"><i class="fa fa-money" aria-hidden="true" style="color: #4d82a3;"></i>
                        </div>
                    </div>
                    <div class="input_box" style="float:left;padding-right: 10px;">
                        <input type="text" ngModel="{{detailsProduct?.quantityProduct}}" name="quantityProduct"
                            class="form-control" id="quantityProduct" aria-describedby="quantityProduct" readonly>
                        <div class="icon"><i class="fa fa-shopping-cart" aria-hidden="true" style="color: #4d82a3;"></i>
                        </div>
                    </div>
                    <div class="input_box" style="float:left;padding-right: 10px;">
                        <input type="text" ngModel="{{detailsProduct?.expirationDateProduct}}"
                            name="expirationDateProduct" class="form-control" id="expirationDateProduct"
                            aria-describedby="expirationDateProduct" readonly>
                        <div class="icon"><i class="fa fa-calendar" aria-hidden="true" style="color: #4d82a3;"></i>
                        </div>
                    </div>




                    <br>
                    <div class="form-group" style="float:left; text-align: center;">
                        <label for="expired" style="color: green ;font-size: 17px;"><i class="fa fa-clock-o"
                                aria-hidden="true"></i>
                            <!--  <label style="color: black;font-size: 17px">
                                {{getDateDiffInDays(detailsProduct?.expirationDateProduct,detailsProduct?.categoryProduct)}}
                            </label>-->
                        </label>
                        <br>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Add Category Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel"
                    style=" color: darkgreen;font-size: 20px;text-align: center;"><B>Add Category</B></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddProduct(addForm)" novalidate>
                    <div class="form-group">
                        <div class="input_box" style="float:left;padding-right: 10px;">
                            <input type="text" ngModel name="nameCategory" class="form-control" id="nameCategory"
                                aria-describedby="name" placeholder="Name category" #nameCategory="ngModel" required>
                            <div class="icon"><i class="fa fa-arrow-right" aria-hidden="true"
                                    style=" color: #4d82a3"></i></div>
                        </div>
                        <!-- <div style="float:left;padding-right: 10px;" class="alert alert-danger" *ngIf="nameCategory.errors?.['required'] || nameCategory.touched&& (nameCategory.touched || nameCategory.dirty)">Name category field is required</div>-->
                        <div class="input_box" style="float:left;">
                            <input type="text" ngModel name="descriptionCategory" class="form-control"
                                id="descriptionCategory" aria-describedby="description"
                                placeholder="description category" #descriptionCategory="ngModel" required>
                            <div class="icon"><i class="fa fa-arrow-right" aria-hidden="true"
                                    style=" color: #4d82a3"></i></div>
                            <!--<div class="alert alert-danger" *ngIf="descriptionCategory.errors?.['required'] || descriptionCategory.touched&& (descriptionCategory.touched || descriptionCategory.dirty)">Description category field is required</div>-->
                            <br><br>
                        </div>
                    </div>
                    <div class="modal-footer" style="float:left;justify-content: center;">
                        <button type="button" id="add-Category-form" class="btn btn-secondary"
                            data-dismiss="modal">Close</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<style>
    .button {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button2 {
        background-color: #66BA63;
    }

    /* green */
    .button3 {
        background-color: #80D07D;
    }

    /* Red */
    .button4 {
        background-color: #5C905A;
        color: black;
    }

    /* Gray */
    .button5 {
        background-color: #555555;
    }

    /* Black */



    html,
    body {
        display: grid;
        height: 100vh;
        place-items: center;
        background: #be2edd;
    }

    .main_div {
        width: 365px;
        background: #fff;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }

    .main_div .title {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
    }

    .main_div .social_icons {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .social_icons a {
        display: block;
        height: 45px;
        width: 100%;
        line-height: 45px;
        text-align: center;
        border-radius: 5px;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        transition: all 0.3s linear;
    }

    .social_icons a span {
        margin-left: 5px;
        font-size: 18px;
    }

    .social_icons a:first-child {
        margin-right: 5px;
        background: #4267B2;
    }

    .social_icons a:first-child:hover {
        background: #375695;
    }

    .social_icons a:last-child {
        margin-left: 5px;
        background: #1DA1F2;
    }

    .social_icons a:last-child:hover {
        background: #0d8bd9;
    }

    form {
        margin-top: 25px;
    }

    form .input_box {
        height: 50px;
        width: 50%;
        position: relative;
        margin-top: 15px;
    }

    .input_box input {
        height: 100%;
        width: 100%;
        outline: none;
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding-left: 45px;
        font-size: 14px;
        transition: all 0.3s ease;
    }

    .input_box input:focus {
        border-color: darkcyan;
    }

    .input_box .icon {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        color: grey;
    }

    form .option_div {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
    }

    .option_div .check_box {
        display: flex;
        align-items: center;
    }

    .option_div span {
        margin-left: 5px;
        font-size: 16px;
        color: #333;
    }

    .option_div .forget_div a {
        font-size: 16px;
        color: darkcyan;
    }

    .button input {
        padding-left: 0;
        background: darkcyan;
        color: #fff;
        border: none;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s linear;
    }

    .button input:hover {
        background: darkcyan;
    }

    form .sign_up {
        text-align: center;
        margin-top: 25px;
    }

    .sign_up a {
        color: darkcyan;
    }

    form a {
        text-decoration: none;
    }

    form a:hover {
        text-decoration: underline;
    }


    .select-box select {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        color: #707070;
        font-size: 1rem;
    }

    .form .column {
        display: flex;
        column-gap: 15px;
    }

    .form :where(.select-box) {
        position: relative;
        height: 50px;
        width: 100%;
        outline: none;
        font-size: 1rem;
        color: #707070;
        margin-top: 8px;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 0 15px;
    }

    .input-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .input-box {
        width: 50%;
        position: relative;
    }
</style>

<app-footer></app-footer>