<app-header-two></app-header-two>
<!--breadcrumbs-->

<div class="sigma_subheader style-5 bg-gray">
    <div class="container">

        <div class="sigma_subheader-inner">
            <h1>PharmaLIFE Donations</h1>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/association" class="btn-link">All</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/myDonations" class="btn-link">MyDonations</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/addDonation" class="btn-link">New Donation</a>
            </li>
           
        </ol>


    </div>
    <img src="assets/img/subheader-br.png" class="br" alt="subheader">
    <img src="assets/img/subheader-bl.png" class="bl" alt="subheader">
    <img src="assets/img/subheader-tr.png" class="tr" alt="subheader">
</div>

<!--data-->

<div class="section">
    <div _ngcontent-hii-c4="" class="container">
        <div _ngcontent-hii-c4="" class="row">

                        <!---liste des items-->


            <div _ngcontent-hii-c4="" class="col-lg-4">
                <div _ngcontent-hii-c4="" class="sigma_accordion style-13">
                    <div _ngcontent-hii-c4="" class="sigma_tab-item style-4">

                        <ul _ngcontent-sdw-c4="" class="nav nav-tabs" id="myTab" ngbnav="" role="tablist">
                            <li _ngcontent-sdw-c4="" ng-reflect-_id="1" class="nav-item">
                                <a _ngcontent-sdw-c4="" href="" ngbnavlink="" id="ngb-nav-0" class="nav-link" role="tab"
                                    aria-selected="true" aria-disabled="false" aria-controls="ngb-nav-0-panel"
                                    routerLink="/myDonations"> My
                                    Donations
                                    <i _ngcontent-sdw-c4="" class="fal fa-chevron-right"></i></a>
                                <!---->
                            </li>
                            <li _ngcontent-sdw-c4="" ng-reflect-_id="2" class="nav-item">
                                <a _ngcontent-sdw-c4="" href="" ngbnavlink="" id="ngb-nav-1" class="nav-link"
                                    role="tab" aria-selected="false" aria-disabled="false"
                                     routerLink="/addDonation">New Donation
                                    <i _ngcontent-sdw-c4="" class="fal fa-chevron-right"></i></a><!---->
                            </li>
                            <li _ngcontent-sdw-c4="" ng-reflect-_id="3" class="nav-item active"><a _ngcontent-sdw-c4="" href=""
                                    ngbnavlink="" id="ngb-nav-2" class="nav-link active" role="tab" aria-selected="false"
                                    aria-disabled="false"
                                    routerLink="/collectDonations"> Collect <i _ngcontent-sdw-c4=""
                                        class="fal fa-chevron-right"></i>
                                </a><!----></li> 
                            <li _ngcontent-sdw-c4="" ng-reflect-_id="4" class="nav-item"><a _ngcontent-sdw-c4="" href=""
                                    ngbnavlink="" id="ngb-nav-3" class="nav-link" role="tab" aria-selected="false"
                                    aria-disabled="false"
                                    routerLink="/donationGifts"> MyGifts <i _ngcontent-sdw-c4=""
                                        class="fal fa-chevron-right"></i>
                                </a><!----></li>
                            <li _ngcontent-sdw-c4="" ng-reflect-_id="5" class="nav-item"><a _ngcontent-sdw-c4="" href=""
                                    ngbnavlink="" id="ngb-nav-4" class="nav-link" role="tab" aria-selected="false"
                                    aria-disabled="false"
                                    routerLink="/contactDonations"> Contact <i _ngcontent-sdw-c4="" class="fal fa-chevron-right">

                                    </i></a><!----></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div _ngcontent-hii-c4="" class="col-lg-8">
                <!--My Donations List By Id-->


            






                <p>For more information visit our page Facebook</p>




            </div>
        </div>
    </div>
</div>








<!--footer-->
<app-footer></app-footer>

