<!doctype html>
<html lang="en">
  <head>
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../../../../assets/login/css/style.css">

	</head>
	<body  class="img js-fullheight" style="background-image: url(../../../../assets/login/images/5.jpg);">
		<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"></h2>
				</div>
			</div>
			<div class="row justify-content-start ml-4" style="width: 1700px;" >
				<div class="col-md-7 col-lg-4 login-wrap"  >
					<div class=" p-0" >
		      	<h3 class="mb-4 text-center" style="color: black;"><b>Forget your password?</b></h3>
            <h3 class="mb-4 text-center" style="color: black;font-size: 17px;">If you have forgotten your password, please enter your account's email address below and click "Send Email" button.</h3>
              <h3 class="mb-4 text-center" style="color: black;font-size: 17px;">You will receive an email that contains a link to set a new password.</h3>
		      	<form action="#" class="signin-form" [formGroup]="formModel" autocomplete="on" (submit)="submit(formModel)">
		      		<div class="form-group">
		      			<input type="email" class="form-control" placeholder="Email"  name="email" id="email" autocomplete="on" name="email" formControlName="email" required>
		      		</div>
					  <div *ngIf="formModel.get('email').invalid && (formModel.get('email').dirty || formModel.get('email').touched)"
					  class="alert alert-danger">
				   <div *ngIf="formModel.get('email').errors.required">
					 Email is required
				   </div>
				   <div *ngIf="formModel.get('email').errors.email">
					 Email is invalid
				   </div>
				 </div>
	            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3" onClick="return true;" [disabled]="formModel.invalid">
                  Send Email
          </button>
              </div>
	            <div class="form-group d-md-flex">
								<div class="w-50 text-md-right">
								</div>
	            </div>
	          </form>
		      </div>
				</div>
			</div>
		</div>
	</section>
  <script src="../../../../assets/login/js/jquery.min.js"></script>
  <script src="../../../../assets/login/js/popper.js"></script>
  <script src="../../../../assets/login/js/bootstrap.min.js"></script>
  <script src="../../../../assets/login/js/main.js"></script>

</body>
</html>


<style>
    .login-wrap {
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.5); /* change the alpha value to adjust the opacity */
        padding: 50px;
        border-radius: 10px; /* add rounded corners */

    }
</style>

