<app-header-two></app-header-two>
<!--breadcrumbs-->

<div class="sigma_subheader style-5 bg-gray">
    <div class="container">

        <div class="sigma_subheader-inner">
            <h1>Add Association</h1>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/association" class="btn-link">All</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/myAssociation" class="btn-link">MyAssociations</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/addAssociation" class="btn-link">New Association</a>
            </li>


        </ol>


    </div>
    <img src="assets/img/subheader-br.png" class="br" alt="subheader">
    <img src="assets/img/subheader-bl.png" class="bl" alt="subheader">
    <img src="assets/img/subheader-tr.png" class="tr" alt="subheader">
</div>

<!--data-->

<div class="section">
    <div class="container">
        <div class="row">

            <!---liste des items-->

            <div class="col-lg-4">
                <div  class="sigma_accordion style-13">
                    <div  class="sigma_tab-item style-4">
                        <ul  class="nav nav-tabs" id="myTab" ngbnav="" role="tablist">
                            <li ng-reflect-_id="1" class="nav-item">
                                <a  href="" ngbnavlink="" id="ngb-nav-0" class="nav-link active" role="tab"
                                    aria-selected="true" aria-disabled="false" aria-controls="ngb-nav-0-panel"
                                    routerLink="/myAssociation"> My
                                    Associations
                                    <i _ngcontent-sdw-c4="" class="fal fa-chevron-right"></i></a>
                                <!---->
                            </li>
                            <li _ngcontent-sdw-c4="" ng-reflect-_id="2" class="nav-item">
                                <a _ngcontent-sdw-c4="" href="" ngbnavlink="" id="ngb-nav-1" class="nav-link "
                                    role="tab" aria-selected="false" aria-disabled="false"
                                    routerLink="/addAssociation">New
                                    Association
                                    <i _ngcontent-sdw-c4="" class="fal fa-chevron-right"></i></a><!---->
                            </li>
                            <li _ngcontent-sdw-c4="" ng-reflect-_id="3" class="nav-item"><a _ngcontent-sdw-c4="" href=""
                                    ngbnavlink="" id="ngb-nav-2" class="nav-link" role="tab" aria-selected="false"
                                    aria-disabled="false" routerLink="/myRequest"> My Requests <i _ngcontent-sdw-c4=""
                                        class="fal fa-chevron-right"></i>
                                </a><!----></li>
                            <li _ngcontent-sdw-c4="" ng-reflect-_id="4" class="nav-item"><a _ngcontent-sdw-c4="" href=""
                                    ngbnavlink="" id="ngb-nav-3" class="nav-link" role="tab" aria-selected="false"
                                    aria-disabled="false" routerLink="/"> New Request <i _ngcontent-sdw-c4=""
                                        class="fal fa-chevron-right"></i>
                                </a><!----></li>
                            <li _ngcontent-sdw-c4="" ng-reflect-_id="5" class="nav-item"><a _ngcontent-sdw-c4="" href=""
                                    ngbnavlink="" id="ngb-nav-4" class="nav-link" role="tab" aria-selected="false"
                                    aria-disabled="false" routerLink="/contactDonations"> Contact <i
                                        _ngcontent-sdw-c4="" class="fal fa-chevron-right">

                                    </i></a><!----></li>
                        </ul>
                    </div>
                </div>
            </div>



            <div _ngcontent-hii-c4="" class="col-lg-8">
                <!--My association List By Id-->


                <div class="row mt-5 mt-lg-0">
                    <!-- Data -->
                    <div class="col-lg-4 col-md-6" *ngFor="let association of associations">
                        <div class="sigma_product style-8">
                            <div class="sigma_product-thumb">
                                <a> <img src="../../../assets/img/donationAssociation/{{association.logoAssocation}}"
                                        [alt]="association.logoAssocation" height="140" width="400"></a>

                            </div>
                            <div class="sigma_product-body">

                                <h5 class="sigma_product-title"> <a>{{association.associationName}}</a> </h5>
                                <div class="sigma_rating">
                                    <i>Already {{association.nbAnneeAssociation}} years</i>
                                </div>
                                <div class="sigma_product-price">
                                    <span>Based in : {{association.countryAssocation}}</span>
                                    <!--<span *ngIf="item.discount">{{item.price | number:'1.2-2'}}$</span>-->
                                </div>
                                <!-- Cart 
                            <button 
                                class="sigma_btn btn-sm" (click)="onOpenModal(association, 'details')">View More
                            </button> -->
                           
                                
                               <!-- <button type="button" class="btn btn-success btn-link btn-sm btn-just-icon"
                                    (click)="deleteAssociation(association.idAssociation)">
                                    <i class="material-icons">Delete</i>
                                </button>  -->



                                <span [ngClass]="{'green-tick': association.nbAnneeAssociation>=3}">
                                    <i *ngIf="association.nbAnneeAssociation>=3">
                                        <button type="button" class="btn btn-success btn-link btn-sm btn-just-icon"
                                        (click)="TakeDonation(association.idAssociation)">
                                        <i class="material-icons">Take Donation</i>
                                    </button>  
                                    </i>
                                    <i *ngIf="association.nbAnneeAssociation<3">
                                        <button type="button" class="btn btn-success btn-link btn-sm btn-just-icon"
                                        (click)="AddRequest(association.idAssociation)">
                                        <i class="material-icons">Add Request</i>
                                    </button>  
                                    </i>
                                </span>


                            <!--
                                <button type="button" class="btn btn-success btn-link btn-sm btn-just-icon"
                                (click)="deleteAssociation(association.idAssociation)">
                                <i class="material-icons">Requests</i>
                               </button>-->
                            
                              

                            </div>
                        </div>
                    </div>
                    <!-- Data -->
                </div>










            </div>
        </div>
    </div>
</div>








<!--footer-->
<app-footer></app-footer>